* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  position: relative;
  background-color: #ece7e1; 
}

html, body {
  overflow-x: hidden;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(27,26,33,255);
  z-index: 200;
}

#container {
  width: 1800px;
  margin: auto;
}

#nav-bar {
  width: 95%;
  margin: auto;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-brand {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  margin: auto 30px;
}
 
.menu-icon {
  display: none;
}

#link {
  margin-right: 15px;
  color: white;
  text-decoration: none;
  transition: color 0.15s;
}

#link:hover {
  color: gray;
  font-style: italic;
}

#resume-btn {
  width: 100px;
  font-weight: bold;
  font-size: 15px;
  color: rgba(27,26,33,255);
  background-color: #ece7e1;
  border-radius: 23.5px;
  border-style: solid;
  border-color: #ece7e1;
  padding: 10px;
  cursor: pointer;
  transition: color 0.15s, border-color 0.15s, width 1.0s;
}

#resume-btn:hover {
  width: 150px;
}

/* Sections */

main {
  padding-top: 70px;
}

section {
  padding: 0px 100px;
}

#hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 4rem;
}

.social a {
  color: white;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(27,26,33,255);
	font-size: 17px;
	margin-right: 22px;
	margin-bottom: 30px;
  margin-top: 20px;
}

.social a:hover{
	transform: scale(1.1);
	transition: .5s;
}

#about-me {
  height: 800px;
  padding-top: 40px;
  margin-bottom: 100px;
  display: grid;
	grid-template-columns: repeat(2, 2fr);
	grid-gap: 2rem;
  white-space: normal;
}

#experience {
  height: 800px;
  padding-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  white-space: normal;
}

#projects {
  height: 800px;
  padding-top: 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
	grid-gap: 2rem;
}

.portfolio-content {
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 5rem;
	text-align: center;
	cursor: pointer;
}

.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	transition: all .40s;
}

.layer:hover{
	background: linear-gradient(rgba(0,0,0,0.5) 0%, #191919);
}

.layer h3{
	position: absolute;
	width: 100%;
	font-size: 25px;
	font-weight: 500;
	color: white;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
  margin-bottom: 7px;
}

.layer:hover h3{
	bottom: 52%;
	opacity: 1;
}

.layer h5{
	position: absolute;
	width: 100%;
	font-size:17px;
	font-weight: 500;
	color: white;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all .40s;
}
.layer:hover h5{
	bottom: 48%;
	opacity: 1;
}

.col{
	position: relative;
}

.col img{
	max-width: 100%;
	width: 550px;
	height: auto;
	object-fit: cover;
	border-radius: 12px;
}

#contact-me {
  height: 600px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
	display: flex;
	justify-content: center;
	text-align: center;
}

li {
  list-style: none;
}

#hero h1 {
  font-size: 90px;
  color: rgba(27,26,33,255);
  margin: 10px 0px 25px;
}

h2 {
  font-size: 30px;
  color: rgba(27,26,33,255);
  margin-bottom: 60px;
}

h6 {
  font-size: 12px;
  color: white;
}

h4 {
  font-size: 40px;
  color: rgba(27,26,33,255);
  font-style: italic;
}

h5 {
  color: rgba(27,26,33,255);
}

p {
  color: gray;
  text-align: justify;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

@media(max-width:1800px) {
  #container {
    width: 100%;
  }
}

@media only screen and (max-width: 1015px) {
  #nav-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    display: block;
    background-color: rgba(27,26,33,255);
    margin: 0;
    height: 100%;
    -webkit-box-shadow: 1px 6px 0px 6px rgba(0,0,0,0.13);
    -moz-box-shadow: 1px 6px 0px 6px rgba(0,0,0,0.13);
    box-shadow: 1px 6px 0px 6px rgba(0,0,0,0.13);
    width: 250px;
    transition: all 0.3s ease;
  }

  #nav-menu.show-nav {
    right: 0;
  }

  #nav {
    text-align: center;
    margin: 20px auto;
  }

  .menu-icon {
    color: white;
    display: block;
    margin: auto 0;
    padding: 0 20px;
    font-size: 30px;
    cursor: pointer;
  }

  #brush-img {
    display: none;
  }

  #about-me {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px){

	#hero-txt{
		padding-top: 55px;
	}

	section{
		padding: 65px 3%;
		transition: .3s;
	}
}
